body{
    font-family: Studio-Feixen-Sans, serif;
}
header{
    opacity: 0;
    animation: header-intro-animation .3s linear forwards;
}

@keyframes header-intro-animation {
    from {
        opacity: 0;
        transform: translateY(-400px);
    }

    to {
        opacity: 1;
        transform : translateY(0);
    }
}
a{
    color:#0075AD !important;
}
a:hover{
    text-decoration: underline;
}
code{
    font-family: Hack, monospace !Important;
    width: 100%;
    font-size: 0.875rem !important;
    font-weight: normal;
    line-height: 25px;
    background-color: #f7f3eb;
    color: #05192d;
    display: inline-block;
    max-width: 100%;
    overflow-x: auto;
    padding: 16px;
    text-shadow: none;
}
